// -----------------------------------------------------------------------------
// This file contains all styles related to the contact of the site/application.
// -----------------------------------------------------------------------------
.contact {
    padding-top: 180px;
    margin-bottom: 120px;
    padding-left: 30px;
    padding-right: 30px;

    &__title {
        text-transform: uppercase;
        text-align: center;
        @include fonts("size-3");
    }

    &__intro {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 30px;
    }

    &__container {
        max-width: 1380px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 120px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__person {
        display: flex;
    }

    &__person-info {
        display: flex;
        align-items: center;
        margin-left: 60px;
    }

    &__person-image-border {
        border: 15px solid $light-grey;
        padding: 15px;
        border-radius: 50%;
    }

    &__person-image {
        border-radius: 50%;
        overflow: hidden;
        display: block;
    }

    &__person-name {
        font-style: normal;
        font-weight: 700;
        @include fonts("size-4");
    }

    &__person-position {
        font-style: normal;
        font-weight: 600;
        @include fonts("size-6");
        color: $brand-color;
        margin-top: 5px;
    }

    &__list {
        margin-top: 45px;
    }

    &__item {
        font-style: normal;
        font-weight: 500;
        @include fonts("small");
        margin-bottom: 10px;
    }

    &__item-icon-container {
        width: 26px;
        display: inline-block;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        width: 300px;
    }

    &__form-field-label {
        @include fonts("small");
        font-weight: 400;
        color: #bbb;
    }
}

// RWD
@include respond-until("large") {
    .contact {
        &__container {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding-top: 60px;
        }

        &__form {
            margin-left: 0;
            margin-bottom: 60px;
        }
    }
}

@include respond-until("medium") {
    .contact {
        &__intro {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

@include respond-until("small") {
    .contact {
        &__person-image {
            width: 200px;
            height: 200px;
        }
    }
}

@include respond-until("extra-small") {
    .contact {
        &__person {
            flex-direction: column;
        }

        &__person-info {
            margin-top: 30px;
            margin-left: 0;
            text-align: center;

            address {
                width: 100%;
            }
        }
    }
}
