// -----------------------------------------------------------------------------
// This file contains all styles related to the our services of the site/application.
// -----------------------------------------------------------------------------
.our-services {
    padding-top: 180px;

    &__title {
        text-transform: uppercase;
        text-align: center;
        @include fonts("size-3");
    }

    &__intro {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 30px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 120px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        padding: 60px;
        width: calc((100% - 30px) / 2);
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        border: 1px solid $light-grey;
        border-radius: 3px;

        &::before {
            @include pseudo();
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.99);
            left: 0;
            top: 0;
            z-index: 1;
        }
    }

    &__box-title {
        order: 2;
        z-index: 1;
        @include fonts("size-3");
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__box-icon-container {
        order: 1;
        z-index: 1;
    }

    &__box-text {
        order: 3;
        z-index: 1;
    }

    &__box-image {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__box-buttons {
        order: 4;
        z-index: 1;
        margin-top: 30px;
        display: flex;

        .button:first-child {
            margin-right: 30px;
        }
    }

    &__contact {
        text-align: center;
        margin-top: 90px;
    }

    &__contact-text {
        margin-left: 15px;
    }

    &__contact-number {
        font-weight: 700;
        border-bottom: 2px solid $brand-color;
        margin-left: 15px;
        font-size: 15px;

        @include on-event() {
            color: #000;
            text-decoration: none;
        }
    }
}

// RWD
@include respond-until("extra-large") {
    .our-services {
        padding-left: 30px;
        padding-right: 30px;

        &__container {
            max-width: 100%;
        }
    }
}

@include respond-until("large") {
    .our-services {
        &__box {
            width: 100%;
        }
    }
}

@include respond-until("medium") {
    .our-services {
        &__intro {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

@include respond-until("small") {
    .our-services {
        &__box {
            padding: 30px;
        }
    }
}

@include respond-until("extra-small") {
    .our-services {
        &__contact {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__contact-text {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        &__box-buttons {
            flex-direction: column;

            .button {
                margin-right: auto;

                &:first-child {
                    margin-right: auto;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@include respond-until("old-phone") {
    .our-services {
        &__box-buttons {
            .button {
                &:first-child {
                    margin-bottom: 0;
                }

                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}
